<div class="row">

  <div class="col-sm-6">
    <div class="card my-3 bg-primary text-light border-0 rounded-0">

      <div class="row no-gutters">
        <div class="col-auto">
          <img src="//placehold.it/350x200" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block p-3">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-light">BUTTON</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="card my-3 bg-primary text-light border-0 rounded-0">

      <div class="row no-gutters">
        <div class="col-auto">
          <img src="//placehold.it/350x200" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block p-3">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-light">BUTTON</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="card my-3 bg-primary text-light border-0 rounded-0">

      <div class="row no-gutters">
        <div class="col-auto">
          <img src="//placehold.it/350x200" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block p-3">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-light">BUTTON</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="card my-3 bg-primary text-light border-0 rounded-0">

      <div class="row no-gutters">
        <div class="col-auto">
          <img src="//placehold.it/350x200" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block p-3">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-light">BUTTON</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="card my-3 bg-primary text-light border-0 rounded-0">

      <div class="row no-gutters">
        <div class="col-auto">
          <img src="//placehold.it/350x200" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block p-3">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-light">BUTTON</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="card my-3 bg-primary text-light border-0 rounded-0">

      <div class="row no-gutters">
        <div class="col-auto">
          <img src="//placehold.it/350x200" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block p-3">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-light">BUTTON</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>